#Port
PORT=
DATABASE_URL=


NEW_ENDPOINT=
NEW_REGION=
NEW_ACCESS_KEY=
NEW_SECRET_KEY=
NEW_BUCKET_NAME=
CRM_SURVEY_FILE_DIR=
CRM_SIGNATURE_FILE_DIR=


#JWT
JWT_ENCRYPTION_KEY=
JWT_SECRET=

#Location IP
LOCATIONIQ_API_KEY=
LOCATIONIQ_BASE_URL=